

<!DocType html>
<html>
	<head>
		<script src="{{ url_for('static', filename='js/validacion.js') }}"> </script>

		<title>Formulario de Registro</title>

		<link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/miEstilo.css') }}"
    />

		<meta charset="utf-8"/>
		<meta name="descripcion"
				content="Este es un formulario privado"
		/>
		
	</head>


	<body>
		<h1>Registro de Vacunación COVID-19</h1>

		<form 
			action=""
			name="formRegistro"
			method="get"
			onSubmit="validar_formulario();"
			>
			
		
			<p>Nombre: <input type="text" id=nombre name="nombre" maxlength="50"></p>
			<p>Apellidos:<input id=apellido type="text" name="Apellidos" maxlength="50"></p>
				<p>Sexo:<input type="radio" id=sexo name="sexo" value="h">Hombre
				<input type="radio" id=sexo name="sexo" value="h">Mujer
			</p>
				<p>Correo:<input type="text" id=correo name="correo" maxlength="100"></p>
				
				<p>Usuario: <input type="text" id=usuario name="usuario"></p>
				<p>Contraseña:<input type="password" id=contrasena name="contrasena" maxlength="50"/>
					          <img src="{{ url_for('static', filename='images/ojo.png')}}" 
							    width="30" height="30"	
							 	 onmouseover="mostrarPassword();"
								 onmouseout="ocultarPassword();"

							  />
				</p>
			<P>
				<input type="CheckBox" name="condiciones">Declaro haber leído y aceptar las
				condiciones generales del programa y la normativa sobre protección de datos 
			</p>

			<button type="submit" value="Enviar" id="" >Enviar</button>

		</Form>
		
<!--
		<script>
			var edad = prompt("Indica tu edad");
			while(!confirm("Tú edad es: "+edad)) {
				edad=prompt("Indica tu edad");
			}

			if(edad < 18){
				alert("Eres menor de edad, aún no puedes ir a la disco");
			}else{
				alert("Eres mayor de edad, ya puedes ir");
			}
			setTimeout("cerrar()", 5000);
			document.write("Esta página se autodestrirá en 5 segundos (solo si tienes explorer)");

			function cerrar(){
				window.close();
			}
			
		</script>


	<input type="button" value="Pulsar botón.. para saludarlo" onclick="window.alert('Hola Mundo')";>

	<input type="button" name="boton" value="Ejemplo" onLoad="value='Hola Mundo'">


	<input type="text" id="a"; />
	<input type="text" id="b"; />
	<button id="operar">sumar</button>
	<script>
		function Sumar(a, b, callback){
			return callback(a+b);
	
		}
		document.querySelector("#operar").addEventListener('click', function(){
			var a= parseInt(document.querySelector('#a').value),
			var b = parseInt(document.querySelector('#b').value);
			Sumar(a, b, function(r){
				console.log('El resultado de la suma es '+ r );
			})
		})
	</script>
	
-->


	</body>

</html> 


